h1{
    font-family: 'Oswald', sans-serif;
    color: blueviolet;
}
h2{
    font-family: 'Redressed', cursive;
    color: white;
    background-color: tomato;
}
h3{
    font-family: 'Hanalei Fill', cursive;

    font-family: 'Redressed', cursive;
    color: yellowgreen;
}
body{
    background-color: antiquewhite;
    text-align: center;
}
.sub-img{
    width: 200px;
    height: 150px;
    background-color: black;
}
 img{
    position: relative;
    width: 280px;
    height: 200px;
    display: inline-block;
    margin: 50px;

}
section
{
    height: 100vh;
}
section img{
    width: 1280px;
    height: 700px;
}

footer{
    background-color: gray;
    padding: 5px;
}
body a{
    text-align: left;
}

div ul{
    font-size: 30px;
    text-align: left;
    background-color: pink;
}
ul li{
    background-color: plum;
    width: 100px;
}