body{
    background-color:powderblue;
}
td ,table ,th ,tr {
    border-style: solid;
    border-width: 4px;
    border-collapse: collapse;
    border-color: #eeeeee;
    padding: 8px;
    margin: 50px;
    background-color:rgb(165, 202, 218) ;
}
h1{
    font-family: 'Oswald', sans-serif;
    color: teal;
    margin: 50px;
}

form{
    width: 150px;
    margin: 50px;
    position: relative;
    font-size: 25px;
    
    
    
}
button{
    padding: 10px;
    background-color: royalblue;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}
fieldset{
    padding: 20px;
    border-style: solid;
    border-color: black;
    background-color:rgb(165, 202, 218) ;
    border-color: #eeeeee;
    
}

input{
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: #eeeeee;
}

div{
   position: relative;
   display: inline;
}
section{
    width: 100%;
    display: inline;
}
